# From http://ipxe.org/crypto

[ ca ]
default_ca             = ca_default

[ ca_default ]
certificate            = ca.crt
private_key            = ca.key
serial                 = ca.srl
database               = ca.idx
new_certs_dir          = signed
default_md             = default
policy                 = policy_anything
preserve               = yes
default_days           = 90
unique_subject         = no

[ policy_anything ]
countryName            = optional
stateOrProvinceName    = optional
localityName           = optional
organizationName       = optional
organizationalUnitName = optional
commonName             = optional
emailAddress           = optional

[ cross ]
basicConstraints       = critical,CA:true
keyUsage               = critical,cRLSign,keyCertSign


[ req ]
default_bits = 4096
default_md   = sha256
utf8         = yes
distinguished_name = req_distinguished_name

[ req_distinguished_name ]
commonName         = Common Name (eg, YOUR name)
commonName_default = secudep code signing
commonName_min     = 2
commonName_max     = 64

[ codesigning ]
basicConstraints       = critical,CA:false
keyUsage               = digitalSignature
extendedKeyUsage       = codeSigning
